<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MPlayerExe" value="" />
    <add key="MPlayerCmdLine" value="-nosound -vo direct3d -framedrop -vf scale=800:-2" />
    <add key="FileFilter" value="Supported files|*.ts;*.mpg|All file|*.*" />
  </appSettings>
</configuration>